:host {
  .links {
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    & > a {
      font-style: oblique;
      font-weight: 700;
      padding: 20px;
      width: 100%;
      margin-bottom: 10px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      &:hover {
        background: black;
        color:white;
      };
      &:focus {
        background-color: #3f51b5;
        color: white;
      }
      &:active {
        background: white;
        color:#3f51b5;
      };
    }
  }
}

span {
  margin-left: 15px;
}

button {
  color: white;
}

img {
  height: 30px;
}

#logo-hub {
  margin-left: 0;
  font-weight: 700;
  color: rgb(235, 238, 63);
  font-size: 35px;
}

#logo-task {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  margin-right: 2px;
  margin-bottom: 1px;
  color: white;
  font-weight: 700;
  font-size: 35px;
}

.mat-drawer {
  background-color: rgb(182, 182, 182);
}