<mat-toolbar color="primary">
  <button mat-icon-button color="white" class="menu-toggler" aria-label="Menu toggler" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <span id="logo-task">Task</span>
  <span id="logo-hub">HUB</span>
  <span class="spacer"></span>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <div class="links">
        <a routerLink="/projects">
          Projects
        </a>
        <a routerLink="/teams">
          Teams
        </a>
        <a routerLink="/tasks">
          Tasks
        </a>
        <a routerLink="/users">
          Users
        </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
