<h1 id="title-type">Tasks</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="projectId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ProjectId </th>
      <td mat-cell *matCellDef="let element"> {{element.projectId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="performerId">
      <th mat-header-cell *matHeaderCellDef> PerformerId </th>
      <td mat-cell *matCellDef="let element"> {{element.performerId}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> State </th>
      <td mat-cell *matCellDef="let element"> {{element.state}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>
  
    <ng-container matColumnDef="finishedAt">
      <th mat-header-cell *matHeaderCellDef> FinishedAt </th>
      <td mat-cell *matCellDef="let element"> {{element.finishedAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
