table {
    width: 100%;
    background-color: white;
  }

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
.mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
.demo-row-is-clicked {
    font-weight: bold;
  }

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    padding: 7px;
    text-align: left;
  }

  th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
    padding-left: 24px;
}
