<h1 id="title-type">Users</h1>

<div *ngIf="isUsersLoading" class="mat-spinner-wrapper posts-spinner">
  <mat-spinner></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>

    <ng-container matColumnDef="TeamId">
      <th mat-header-cell *matHeaderCellDef> TeamId </th>
      <td mat-cell *matCellDef="let element"> {{element.TeamId}} </td>
    </ng-container>

    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> FirstName </th>
      <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
    </ng-container>

    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> LastName </th>
      <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="RegisteredAt">
      <th mat-header-cell *matHeaderCellDef> RegisteredAt </th>
      <td mat-cell *matCellDef="let element"> {{element.RegisteredAt}} </td>
    </ng-container>

    <ng-container matColumnDef="BirthDay">
      <th mat-header-cell *matHeaderCellDef> BirthDay </th>
      <td mat-cell *matCellDef="let element"> {{element.BirthDay}} </td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell class="actions-table-cell" *matCellDef="let row" >
        <button mat-raised-button color="primary" (click)="onEditUser()">Edit</button>
        <button mat-raised-button (click)="onDeleteUser()">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
