<h1 id="title-type">Projects</h1>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="authorId">
      <th mat-header-cell *matHeaderCellDef> AuthorId </th>
      <td mat-cell *matCellDef="let element"> {{element.authorId}} </td>
    </ng-container>

    <ng-container matColumnDef="teamId">
      <th mat-header-cell *matHeaderCellDef> TeamId </th>
      <td mat-cell *matCellDef="let element"> {{element.teamId}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="deadline">
      <th mat-header-cell *matHeaderCellDef> Deadline </th>
      <td mat-cell *matCellDef="let element"> {{element.deadline}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> CreatedAt </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="show = !show"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>


