.edit-user-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.field {
  &-wrapper {
    width: 100%;
    margin-bottom: 20px;
  }
  &-input {
    width: 300px;
  }
}

.actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
