<h2 mat-dialog-title class="title">Edit user</h2>
<div mat-dialog-content class="dialog-content">
  <form class="edit-user-form">
    <mat-form-field class="field-wrapper" appearance="fill">
      <mat-label>First Name</mat-label>
      <input type="text" matInput class="field-input" [formControl]="firstNameFormControl"
             placeholder="Vasya, Vova, Oleg">
      <mat-error *ngIf="firstNameFormControl.hasError('minlength') && !firstNameFormControl.hasError('required')">
        First Name is too short
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('maxlength') && !firstNameFormControl.hasError('required')">
        First Name is too long
      </mat-error>
      <mat-error *ngIf="firstNameFormControl.hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field-wrapper" appearance="fill">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput [formControl]="lastNameFormControl"
             placeholder="Pupkin, Zhopkin, Piskin">
      <mat-error *ngIf="lastNameFormControl.hasError('minlength') && !lastNameFormControl.hasError('required')">
        Last Name is too short
      </mat-error>
      <mat-error *ngIf="lastNameFormControl.hasError('maxlength') && !lastNameFormControl.hasError('required')">
        Last Name is too long
      </mat-error>
      <mat-error *ngIf="lastNameFormControl.hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field-wrapper" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="emailFormControl.hasError('pattern') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div class="actions">
  <button mat-raised-button color="primary">Edit</button>
  <button mat-raised-button (click)="close()">Cancel</button>
</div>
