<h1 mat-dialog-title>Are you sure want to delete?</h1>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="close()">Cancel</button>
  <button mat-stroked-button color="accent">OK</button>
</div>
