/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button {
  outline: none;
  cursor: pointer;
  box-shadow: none;
  background: none;
  border: none;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

#title-type {
  text-align: center;
  margin: 0;
  color: #3f51b5;
  background-color: rgb(252, 255, 64);
  font-style: oblique;
  border-bottom: solid 3px rgb(252, 255, 64);
  border-top: solid 3px rgb(252, 255, 64);
  font-weight: 600;
}

.full-width {
  width: 100%;
}
